.App {
  text-align: left;
}

.instructions {
  display: inline-block;
  width: 50%;
}

.employee100 {
  width: 100px;
  display:inline-block;
  text-align: left;
  padding: 0px;
  font-size: 15px;
  border-collapse: collapse;
  border: 1px black solid;
}

.employee150 {
  width: 150px;
  display:inline-block;
  text-align: left;
  padding: 0px;
  font-size: 15px;
  border-collapse: collapse;
  border: 1px black solid;
}

.employee200 {
  width: 200px;
  display:inline-block;
  text-align: left;
  padding: 0px;
  font-size: 15px;
  border-collapse: collapse;
  border: 1px black solid;
}

.employee300 {
  width: 300px;
  display:inline-block;
  text-align: left;
  padding: 0px;
  font-size: 15px;
  border-collapse: collapse;
  border: 1px black solid;
}

.employeeData100 {
  width: 100px;
  display:inline-block;
  text-align: left;
  padding: 0px;
  font-size: 15px;
  border-collapse: collapse;
  border: 1px black solid;
}

.employeeData150 {
  width: 150px;
  display:inline-block;
  text-align: left;
  padding: 0px;
  font-size: 15px;
  border-collapse: collapse;
  border: 1px black solid;
}

.employeeData200 {
  width: 200px;
  display:inline-block;
  text-align: left;
  padding: 0px;
  font-size: 15px;
  border-collapse: collapse;
  border: 1px black solid;
}

.employeeData300 {
  width: 300px;
  display:inline-block;
  text-align: left;
  padding: 0px;
  font-size: 15px;
  border-collapse: collapse;
  border: 1px black solid;
}

.data {
    margin: -2px 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
